body {
  margin:0 50px;
  font: 75% "Trebuchet MS", Verdana, sans-serif;
  min-width: 690px;
}

footer {
  display: block;
  text-align: justify;
  margin: 50px 0 0;
  padding: .5em 0 50px;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
  clear:both;
}

.imagen_singleton {
  width: 30%;
  display: block;
}